@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
}

@theme {
  --primary-color: #ffffff;
  --secondary-color: #d6d4d6;

  --primary-bg-color: #0a061a;
  --secondary-bg-color: #141026;

  --text-4xl: 48px;
  --text-3xl: 42px;
  --text-2xl: 38px;
  --text-xl: 30px;
  --text-lg: 22px;
  --text-md: 18px;
  --text-base: 16px;
  --text-sm: 14px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;
  --spacing-4xl: 80px;
}
